/*
    Este Arquivo é o arquivo principal do
    Framework Maranata Design

    Configurando a cor de fundo padrão
*/
body{
    background-color: #ddd;
    font-size: 100%;
    /*
    background-image: url("folhas.jpg");
    */
}

/*
    Configurando os titulos.
    Os titulos do framework Maranata Design
    são mais grandes do que o normal para 
    facilitar a leitura.
*/
h1, h2, h3, h4, h5, h6{
    border-bottom: 3px solid #555;
    max-width: 90%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size: 3.4em;
}
h2{
    font-size: 3.1em;  
}
h3{
    font-size: 2.8em;
}
h4{
    font-size: 2.5em;
}
h5{
    font-size: 2.2em;
}
h6{
    font-size: 1.9em;
}
/*
    Configurando os paragrafos.
    e os paragrafos dos poemas: tag pre.
    E também configurando as tags de texto
*/
p, pre, b, strong, i, em, sub, sup, mark, del, ins{
    font-size: 1.6em; 
}
mark{
    background-color: green;
}
/*
    Começando com as tags de citações.
*/
blockquote{
    font-size: 1.6em;
    border-left: 10px solid green;
    padding: 10px;
    background-color: white;
}
/*
    Tag de abreviação (abbr) e a
    tag de citação (cite)
    e a tag de direção do texto, (bdo)
    texto invertido. Exemplo: alob -> bola
    E a tag q que é de citação em aspas duplas.
*/
abbr, cite, bdo, q{
    font-size: 1.6em;
}
/*
    Editando a tag de Endereços
*/
address{
    font-size: 1.6em;
    border-left: 10px solid red;
    padding: 10px;
    background-color: white;
}
/*
    Div de conteudo padrão
*/
div{
    width: 80%;
}
