/*
    Este arquivo: 6 textos.css é 
    para edição de estilos de textos
    de maneira facil e pratica.
    Incluindo a edição de fontes padrão.

    Agora vou começar a criar classes de 
    estilos de textos para os textos ficarem
    com muito estilos.

    Começando com os alinhamentos dos
    textos
*/
.textos-a-esquerda{
    text-align: left;
}
.textos-a-direita{
    text-align: right;
}
.textos-justificado{
    text-align: justify;
}
.textos-ao-centro{
    text-align: center;
}
/*
    Agora vamos criar uma classe
    da direçao do texto.
*/
.textos-da-direita-para-esquerda {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
/*
    Alinhamento Vertical
*/
.emcima{
    vertical-align: top;
}
.embaixo{
    vertical-align: bottom;
}
/*
    Decoração de textos
        1.O overline é por cima do texto
        2.O line-through é riscando o texto
        3.0 underline é para sublinhar o texto
            (usado muito em links)
*/
.linha-por-cima{
    text-decoration: overline;
}
.linha-no-texto{
    text-decoration: line-through;
}
.linha-abaixo{
    text-decoration: underline;
}
/*
    Agora vamos começar ao criar
    classes de textos tranformes
    a propriedade transforme serve
    para transforma os textos em maiúsculas
    ou minusculas ou começar com uma letra maiúscula
*/
.maiusculas {
    text-transform: uppercase;
}
.minusculas {
    text-transform: lowercase;
}
.primeira-maiuscula {
    text-transform: capitalize;
}

/*
    Começando sobre a indentação do 
    texto
*/
.indenta-10{
    text-indent: 10px;
}
.indenta-20{
    text-indent: 20px;
}
.indenta-30{
    text-indent: 30px;
}
.indenta-40{
    text-indent: 40px;
}
.indenta-50{
    text-indent: 50px;
}
/*
    Começando sobre espaço nos
    textos.

    Começando sobre os epaços
    entre as letras
*/
.texto-espaco-5 {
    letter-spacing: 5px;
}
.texto-espaco-4 {
    letter-spacing: 4px;
}
.texto-espaco-3 {
    letter-spacing: 3px;
}
.texto-espaco-2 {
    letter-spacing: 2px;
}
.texto-espaco-1 {
    letter-spacing: 1px;
}
/*
    Espaço entre as letras negativos
*/
.texto-espaco-menos-5 {
    letter-spacing: -5px;
}
.texto-espaco-menos-4 {
    letter-spacing: -4px;
}
.texto-espaco-menos-3 {
    letter-spacing: -3px;
}
.texto-espaco-menos-2 {
    letter-spacing: -2px;
}
.texto-espaco-menos-1 {
    letter-spacing: -1px;
}
/*
    Trabalhando com a altura da linha
*/
.altura-da-linha-pequena {
    line-height: 0.8;
}
.altura-da-linha-media {
    line-height: 1.0;
}
.altura-da-linha-grande {
    line-height: 2.0;
}
/*
    Trabalhando com espaço entre as
    palavras.
*/
.palavra-espaco-10 {
    word-spacing: 10px;
}  
.palavra-espaco-15 {
    word-spacing: 15px;
}  
.palavra-espaco-20 {
    word-spacing: 20px;
}  
.palavra-espaco-25 {
    word-spacing: 25px;
}  
/*
    Agora com valores negativos
*/
.palavra-espaco-menos-2 {
    word-spacing: -2px;
}
.palavra-espaco-menos-3 {
    word-spacing: -3px;
}
.palavra-espaco-menos-5 {
    word-spacing: -5px;
}
/*
    Agora vamos trabalhar
    com classes que tratam os espaços 
    em branco

    nowrap significa que o texto não
    vai quebrar
*/
.espaco-branco-nao-quebra{
    white-space: nowrap;
}
/*
    É a configuração normal
*/
.espaco-branco{
    white-space: normal;
}
/*
    Começando a trabalhar com sobra de 
    textos
*/
.sombra-texto-1 {
    text-shadow: 1px 1px;
}
.sombra-texto-2 {
    text-shadow: 2px 2px;
}
.sombra-texto-3 {
    text-shadow: 3px 3px;
}
.sombra-texto-4 {
    text-shadow: 4px 4px;
}
.sombra-texto-5 {
    text-shadow: 5px 5px;
}

/*
    Agora vou trabalhar 
    com sobras com as 
    cores RGB

    Começando com o vermelho
*/
.sombra-texto-1-vermelho {
    text-shadow: 1px 1px red;
}
.sombra-texto-2-vermelho {
    text-shadow: 2px 2px red;
}
.sombra-texto-3-vermelho {
    text-shadow: 3px 3px red;
}
.sombra-texto-4-vermelho {
    text-shadow: 4px 4px red;
}
.sombra-texto-5-vermelho {
    text-shadow: 5px 5px red;
}
/*
    Agora Iniciando com o verde
*/
.sombra-texto-1-verde {
    text-shadow: 1px 1px green;
}
.sombra-texto-2-verde {
    text-shadow: 2px 2px green;
}
.sombra-texto-3-verde {
    text-shadow: 3px 3px green;
}
.sombra-texto-4-verde {
    text-shadow: 4px 4px green;
}
.sombra-texto-5-verde {
    text-shadow: 5px 5px green;
}
/*
    Agora eu vou começar a trabalhar
    com classes de fontes.
    Graças a Deus tem muitas opções
    por padrão.

    1. Arial (sem serifa)
    2. Verdana (sem serifa)
    3. Helvética (sem serifa)
    4. Tahoma (sem serifa)
    
*/
.arial{
    font-family: Arial, Helvetica, sans-serif;
}
.verdana{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.helvetica{
    font-family: Helvetica, sans-serif;
}
.tahoma{
    font-family: Tahoma, sans-serif;
}
/*
    5. Trabuco MS (sem serifa)
    6. Times New Roman (serifa)
    7. Geórgia (serif)
    8. Garamond (serifa)
    9. Courier New (monoespaço)
    10. Brush Script MT (cursiva)
*/
.trabuco{
    font-family: 'Trabuco MS', Arial, sans-serif;
}
.times{
    font-family: 'Times New Roman', Times, serif;
}
.geogia{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.garamond{
    font-family: Garamond, serif;
}
.courier{
    font-family: 'Courier New', Courier, monospace;
}
.brush{
    font-family: "Brush Script MT", cursive;
}
/*
    Textos em italico
*/
.italico{
    font-style: italic;
}
.sem-italico{
    font-style: normal;
}
.oblico{
    font-style: oblique;
}
/*
    Textos em negrito
*/
.negrito{
    font-weight: bold;
}
.sem-negrito{
    font-weight: normal;
}
