/*
    Configurando a cor de fundo padrão
*/
body{
    background-color: #ddd;
    /*
    background-image: url("folhas.jpg");
    */
}

/*
    Configurando os titulos.
    Os titulos do framework Maranata Design
    são mais grandes do que o normal para 
    facilitar a leitura.
*/
h1, h2, h3, h4, h5, h6{
    border-bottom: 3px solid #555;
    max-width: 90%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size: 55px;
}
h2{
    font-size: 50px;  
}
h3{
    font-size: 45px;
}
h4{
    font-size: 40px;
}
h5{
    font-size: 35px;
}
h6{
    font-size: 30px;
}
/*
    Configurando os paragrafos.
*/
p{
    font-size: 25px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*
    Classes responsaveis por as cores de fundo.
    começando com o preto e o branco e suas variações.
*/
.fundo-preto{
    background-color: black;
}
.fundo-marron{
    background-color: #733;
}
.fundo-grafite{
    background-color: #555;
}
/*
    3 cores adicionadas
    Branco e suas variações
*/
.fundo-branco{
    background-color: #fff;
}
.fundo-cinza{
    background-color: #ccc;
}
.fundo-cinza-escuro{
    background-color: #aaa;
}
/*
    6 cores adicionadas
    Cores Primarias e suas variações
    Começando com o vermelho
*/
.fundo-vermelho{
    background-color: red;
}
.fundo-rosa{
    background-color: #faa;
}
.fundo-rosa-forte{
    background-color: #c88;
}
/*
    9 cores adicionadas
    Amarelo e suas variações
*/
.fundo-amarelo{
    background-color: yellow;
}
.fundo-amarelo-forte{
    background-color: #cc0;
}
.fundo-amarelo-fraco{
    background-color: lightyellow;
}
/*
    12 cores adicionadas
    Azul e suas variações
*/
.fundo-azul{
    background-color: blue;
}
.fundo-azul-forte{
    background-color: darkblue;
}
.fundo-azul-fraco{
    background-color: lightblue;
}
/*
    15 cores adicionadas.
    Cores segundarias
    começando com o verde.
*/
.fundo-verde{
    background-color: green;
}
.fundo-verde-forte{
    background-color: darkgreen;
}
.fundo-verde-fraco{
    background-color: lightgreen;
}
/*
    18 cores adicionadas.
    laranja e suas variações.
*/
.fundo-laranja{
    background-color: orange;
}
.fundo-laranja-forte{
    background-color: darkorange;
}
.fundo-laranja-fraco{
    background-color: lightsalmon;
}
/*
    21 cores adicionadas.
    roxo e rosa.
*/
.fundo-roxo{
    background-color: purple;
}
.fundo-roxo-forte{
    background-color: lightpink;
}
/*
    23 cores adicionadas
    Agora vamos começar as cores de  textos
    Os textos não precisar ter variações.

    EM CONSTRUÇÃO...
*/
.texto-preto{
    color: black;
}
.texto-white{
    color: white;
}
/*
    Cores Primarias
*/
.texto-vermelho{
    color: red;
}
.texto-azul{
    color: blue;
}
.texto-amarelo{
    color: yellow;
}
/*
    Cores segundarias
*/
.texto-verde{
    color: green;
}
.texto-roxo{
    color: purple;
}
.texto-laranja{
    color: orange;
}
/*
    Agora vamos começar 
    a criar classes de tamanho fixo
    começando com quadrado de 100 pixels 
    cada lado.
*/
.quadrado-100{
    width: 100px;
    height: 100px;
}
.quadrado-200{
    width: 200px;
    height: 200px;
}
.quadrado-300{
    width: 300px;
    height: 300px;
}
.quadrado-400{
    width: 400px;
    height: 400px;
}
.quadrado-500{
    width: 500px;
    height: 500px;
}
quadrado-600{
    width: 600px;
    height: 600px;
}
.quadrado-700{
    width: 700px;
    height: 700px;
}
.quadrado-800{
    width: 800px;
    height: 800px;
}
.quadrado-900{
    width: 900px;
    height: 900px;
}
.quadrado-1000{
    width: 1000px;
    height: 1000px;
}
/*
    Vou criar classes de retangulos.
*/
.retangulo-100{
    width: 50px;
    height: 100px;
}
.retangulo-200{
    width: 100px;
    height: 200px;
}
.retangulo-300{
    width: 150px;
    height: 300px;
}
.retangulo-400{
    width: 200px;
    height: 400px;
}
.retangulo-500{
    width: 250px;
    height: 500px;
}
/*
    Esta bom, não precisar muito de 
    retangulos
    Agora vou começar a criar classes
    de margens começando com as 
    margens esquerda
*/
.margem-esquerda-10{
    margin-left: 10px;
}
.margem-esquerda-20{
    margin-left: 20px;
}
.margem-esquerda-30{
    margin-left: 30px;
}
.margem-esquerda-40{
    margin-left: 40px;
}
.margem-esquerda-50{
    margin-left: 50px;
}
/*
    Agora as margens direita
*/
.margem-direita-10{
    margin-right: 10px;
}
.margem-direita-20{
    margin-right: 20px;
}
.margem-direita-30{
    margin-right: 30px;
}
.margem-direita-40{
    margin-right: 40px;
}
.margem-direita-50{
    margin-right: 50px;
}
/*
    Agora as margens de cima
*/
.margem-cima-10{
    margin-top: 10px;
}
.margem-cima-20{
    margin-top: 20px;
}
.margem-cima-30{
    margin-top: 30px;
}
.margem-cima-40{
    margin-top: 40px;
}
.margem-cima-50{
    margin-top: 50px;
}
/*
    Agora as margens de baixo
*/
.margem-baixo-10{
    margin-bottom: 10px;
}
.margem-baixo-20{
    margin-bottom: 20px;
}
.margem-baixo-30{
    margin-bottom: 30px;
}
.margem-baixo-40{
    margin-bottom: 40px;
}
.margem-baixo-50{
    margin-bottom: 50px;
}
/*
    Começando agora com as classes de bordas
    começando com as linhas solidas.
*/
.borda-solida-1{
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.borda-solida-2{
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
.borda-solida-3{
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
.borda-solida-4{
    border-style: solid;
    border-width: 4px;
    border-color: black;
}
.borda-solida-5{
    border-style: solid;
    border-width: 5px;
    border-color: black;
}
/*
    As bordas solidas são muito boa
    para efeitos legais com alguns 
    elementos por isso eu vou fazer 
    alguma variação delas.
    Começando com cores RGB
*/
.borda-esquerda-vermelho{
    border-left: #f00 solid 5px;
}
.borda-esquerda-verde{
    border-left: #0f0 solid 5px;
}
.borda-esquerda-azul{
    border-left: #00f solid 5px;
}
/*
    Misturas das cores RGB
*/
.borda-esquerda-amarelo{
    border-left: #ff0 solid 5px;
}
.borda-esquerda-rosa{
    border-left: #faa solid 5px;
}
.borda-esquerda-roxo{
    border-left: #f0f solid 5px;
}
.borda-esquerda-branco{
    border-left: #fff solid 5px;
}
.borda-esquerda-preto{
    border-left: #000 solid 5px;
}
.borda-esquerda-grafite{
    border-left: #555 solid 5px;
}
/*
    So vou adicionar bordas esquerdas
    porque eu acho mais util para 
    estiliza algum conteudo.
*/
/*
    Começando com as linhas dublas.
*/
.borda-dubla-1{
    border-style: double;
    border-width: 1px;
    border-color: black;
}
.borda-dubla-2{
    border-style: double;
    border-width: 2px;
    border-color: black;
}
.borda-dubla-3{
    border-style: double;
    border-width: 3px;
    border-color: black;
}
.borda-dubla-4{
    border-style: double;
    border-width: 4px;
    border-color: black;
}
.borda-dubla-5{
    border-style: double;
    border-width: 5px;
    border-color: black;
}
/*
    Começando com as linhas pontilhadas.
*/
.borda-pontilhada-1{
    border-style: dotted;
    border-width: 1px;
    border-color: black;
}
.borda-pontilhada-2{
    border-style: dotted;
    border-width: 2px;
    border-color: black;
}
.borda-pontilhada-3{
    border-style: dotted;
    border-width: 3px;
    border-color: black;
}
.borda-pontilhada-4{
    border-style: dotted;
    border-width: 4px;
    border-color: black;
}
.borda-pontilhada-5{
    border-style: dotted;
    border-width: 5px;
    border-color: black;
}
/*
    Criando classes de preencimentos.
    Preencimentos são muito importantes
    para um layout bonito.
*/
.preencimento-10{
    padding: 10px;
}
.preencimento-20{
    padding: 20px;
}
.preencimento-30{
    padding: 30px;
}
.preencimento-40{
    padding: 40px;
}
.preencimento-50{
    padding: 50px;
}







