/*
    03 tamanhos.css
    Este arquivo é para utilizar 
    tamanhos fixos.

    Agora vamos começar 
    a criar classes de tamanho fixo
    começando com quadrado de 100 pixels 
    cada lado.
*/
.quadrado-100{
    width: 100px;
    height: 100px;
}
.quadrado-200{
    width: 200px;
    height: 200px;
}
.quadrado-300{
    width: 300px;
    height: 300px;
}
.quadrado-400{
    width: 400px;
    height: 400px;
}
.quadrado-500{
    width: 500px;
    height: 500px;
}
.quadrado-600{
    width: 600px;
    height: 600px;
}
.quadrado-700{
    width: 700px;
    height: 700px;
}
.quadrado-800{
    width: 800px;
    height: 800px;
}
.quadrado-900{
    width: 900px;
    height: 900px;
}
.quadrado-1000{
    width: 1000px;
    height: 1000px;
}