/*
    Configurando a cor de fundo padrão
*/
body{
    background-color: #eef;
}

/*
    Configurando os titulos.
    Os titulos do framework Maranata Design
    são mais grandes do que o normal para 
    facilitar a leitura.
*/
h1, h2, h3, h4, h5, h6{
    border-bottom: 3px solid #555;
    max-width: 90%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size: 55px;
}
h2{
    font-size: 50px;  
}
h3{
    font-size: 45px;
}
h4{
    font-size: 40px;
}
h5{
    font-size: 35px;
}
h6{
    font-size: 30px;
}
/*
    Configurando os paragrafos.
*/
p{
    font-size: 25px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*
    Classes responsaveis por as cores de fundo.
    começando com o preto e o branco e suas variações.
*/
.fundo-preto{
    background-color: black;
}
.fundo-marron{
    background-color: #733;
}
.fundo-grafite{
    background-color: #555;
}
/*
    Branco e suas variações
*/
.fundo-branco{
    background-color: #fff;
}
.fundo-cinza{
    background-color: #ccc;
}
.fundo-cinza-escuro{
    background-color: #aaa;
}
/*
    Cores Primarias e suas variações
    Começando com o vermelho
*/
.fundo-vermelho{
    background-color: red;
}
.fundo-rosa{
    background-color: #faa;
}
.fundo-rosa-forte{
    background-color: #c88;
}
/*
    Amarelo e suas variações
*/
.fundo-amarelo{
    background-color: yellow;
}
.fundo-amarelo-forte{
    background-color: #cc0;
}
.fundo-amarelo-fraco{
    background-color: lightyellow;
}
/*
    Azul e suas variações
*/
.fundo-azul{
    background-color: blue;
}
.fundo-azul-forte{
    background-color: darkblue;
}
.fundo-azul-fraco{
    background-color: lightblue;
}
/*
    Cores segundarias
    começando com o verde.
*/
.fundo-verde{
    background-color: green;
}
.fundo-laranja{
    background-color: orange;
}
.fundo-roxo{
    background-color: purple;
}

