
body{
    background-color: #eef;
}



h1{
    font-size: 55px;
    border-bottom: 3px solid #555;
    max-width: 90%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    font-size: 50px;
    border-bottom: 3px solid #555;
    max-width: 90%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
    font-size: 45px;
    border-bottom: 3px solid #555;
    max-width: 90%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h4{
    font-size: 40px;
    border-bottom: 3px solid #555;
    max-width: 90%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h5{
    font-size: 35px;
    border-bottom: 3px solid #555;
    max-width: 90%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h6{
    font-size: 30px;
    border-bottom: 3px solid #555;
    max-width: 90%;
    min-width: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-size: 25px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}